services:
  application:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    volumes:
      - .:/srv/www/
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - DB_DSN=postgresql+asyncpg://postgres:password@db/postgres
    stdin_open: true
    tty: true

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
